body {
    background-color: rgb(226, 235, 242);
    font-family: Arial, Helvetica, sans-serif;
}

/* .card-container {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    margin: 0;
} */

.title-container {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 20px;
}

.title-decoration {
    color: rgb(44, 108, 197);
    font-size: calc(20px + 2vw);
    margin-right: 30px;
}

.cards-title {
    font-size: calc(20px + 2vw);
}

#left-arrow, #right-arrow {
    width: 25px;
    height: 35px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
    position: absolute;
    
    cursor: pointer;
}

#left-arrow {
    top: 30vh;
    left: 15vw;
}

#right-arrow {
    top: 30vh;
    right: 15vw;
}

.business-card-container {
    visibility: hidden; 
    position: absolute;
    left: 20vw;
    right: 20vw;
    margin: auto;
}

.business-card {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image {
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
    border: 3px solid white;
    box-shadow: 0px 0px 5px 3px rgb(173, 173, 173);

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.name {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(44, 108, 197);
}

.title {
    letter-spacing: 1px;
    color: gray;
}

.description {
    color: gray;
    letter-spacing: 0.5px;
    text-align: center;

    line-height: 28px;
    position: relative;
}

.decoration {
    font-size: 250px;
    letter-spacing: 0px;
    position: absolute;
    bottom: -250px;
    color: rgb(44, 108, 197);
}

/* .animatedRight {
} */

/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {left: -100px;} 
    to {right: 0px;}
} */

.animatedRight{
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
/* animation-delay: 2s; */
}

@-webkit-keyframes slide {
    0% {left: -50px;}
    100% { left: 0px; }
}

@keyframes slide {
    0% {left: -10px;}
    100% { left: 20vw; }
}

@-webkit-keyframes slideLeft {
    0% {left: -50px;}
    100% { left: 0px; }
}

@keyframes slideLeft {
    0% {left: -100px;}
    100% { left: 0px; }
}