body {
    background-color: rgb(226, 235, 242);
    font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    margin: 0px 19.2vw;

    width: 60vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.test {
    width: max-content;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: transform 0.9s ease;
}

.title-container {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 20px;
}

.title-decoration {
    color: rgb(44, 108, 197);
    font-size: calc(20px + 2vw);
    margin-right: 30px;
}

.cards-title {
    font-size: calc(20px + 2vw);
}

#left-arrow, #right-arrow {
    width: 25px;
    height: 35px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
    position: absolute;
    
    cursor: pointer;
}

#left-arrow {
    top: 30vh;
    left: 15vw;
}

#right-arrow {
    top: 30vh;
    right: 15vw;
}

.business-card-container {
    left: 20vw;
    right: 20vw;
    margin: auto;
    padding: 5px;
}

.business-card {
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image {
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
    border: 3px solid white;
    box-shadow: 0px 0px 5px 3px rgb(173, 173, 173);

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.name {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(44, 108, 197);
}

.title {
    letter-spacing: 1px;
    color: gray;
}

.description {
    color: gray;
    letter-spacing: 0.5px;
    text-align: center;

    line-height: 28px;
    position: relative;
}

.decoration {
    font-size: calc(200px + 3vw);
    letter-spacing: 0px;
    position: absolute;
    bottom: calc(-250px - 3vw);
    color: rgb(44, 108, 197);
}

#random {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 50px;

    background-color: rgb(216, 226, 234);
    border: 0;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 3px rgb(192, 203, 212);

    cursor: pointer;
}