<div class="main">
    <div class="shopping-cart">
        <div *ngFor="let product of tripsInCart">
            <div class="product" *ngIf="product.addedToCart > 0">
                <div class="product-name-quantity">
                    <h4>{{product.name}}</h4>
                </div>
    
                <div class="product-info">
                    <p class="quantity">{{product.addedToCart}} x &nbsp;</p>
                    <p class="cost">{{product.cost * currencyConvert}} {{currentCurrency}}</p>
                    <button class="delete-product" (click)="deleteTripFromCart(product)">X</button>
                </div>
            </div>
        </div>
        <div class="finalization">
            <p><b>Total: </b>{{totalCost * currencyConvert}} {{currentCurrency}}</p>
            <button class="buy-button" (click)="buyTrips()">BUY</button>
        </div>

        <div class="post-finalization">
            <div class="bought-section">
                <div class="bought-header">
                    <h4>BOUGHT</h4>
                    <div>
                        <input type="checkbox" (change)="updateFilter(1)">
                        <p>ENDED</p>
                    </div>
                    <div>
                        <input type="checkbox"  (change)="updateFilter(2)">
                        <p>IN PROGRESS</p>
                    </div>
                    <div>
                        <input type="checkbox"  (change)="updateFilter(0)">
                        <p>SOON</p>
                    </div>                        

                </div>
                <div *ngFor="let product of boughtTrips | tripStatus: filter" class="bought-product">
                    <div class="product-bought">
                        <h5>{{product.name}} ({{product.addedToCart}})</h5>
                        <p class="cost">{{product.cost * currencyConvert * product.addedToCart}} {{currentCurrency}}</p>

                    </div>
                    <div class="product-bought-info">
                        <div class="details">
                            <p>{{product.startDate}} - {{product.endDate}} &nbsp; {{product.country}}</p>
                            <p *ngIf="product.ended" style="color: red; font-weight: bold; font-size: 12px">ENDED</p>
                            <p *ngIf="product.during" style="color: rgb(58, 137, 16); font-weight: bold; font-size: 12px">IN PROGRESS</p>
                            <p *ngIf="product.toBe" style="color: rgb(48, 108, 176); font-weight: bold; font-size: 12px">SOON</p>
                        </div>
                        <p>Bought: {{product.dateOfBought}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
