<div class="shopping-cart">
    <div *ngFor="let product of tripsInCart">
        <div class="product" *ngIf="product.addedToCart > 0">
            <h5>{{product.name}}</h5>
            

            <div class="product-info">
                <p class="cost">{{product.cost * currencyConvert}} {{currentCurrency}}</p>
                <p>x {{product.addedToCart}}</p>
                <button class="delete-product" (click)="deleteProductFromCart(product)">X</button>
            </div>

        </div>
    </div>
    <div class="cart-total">
        <p>Total: {{totalCost * currencyConvert}} {{currentCurrency}} </p>
        <button class="finalize" routerLink="/shopping-cart">SHOPPING CART</button>
    </div>
</div>
