<div class="container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login</h1>

      <div class="field email">
        <label for="email">E-mail</label>
        <input id="email" type="email" formControlName="email">
        <p class="invalid" *ngIf="loginForm.get('email')!.hasError('email') &&
        (loginForm.get('email')!.touched || loginForm.get('email')!.dirty)">E-mail is required</p>
      </div>

      <div class="field password">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <p class="invalid" *ngIf="loginForm.get('password')!.hasError('required') &&
        (loginForm.get('password')!.touched || loginForm.get('password')!.dirty)">Password is required</p>
      </div>

      <div class="footer">
        <button class="login-button">LOG IN</button>
        <a class="signup-link" routerLink="/signup">New here? Sign up</a>
      </div>
    </form>
</div>
