<div class="body">
    <div class="main"></div>
    <img src="assets/images/homepage.jpg" class="background">

    <div class="main-info">
        <p>See more</p>
        <p>Do more</p>
        <button class="trips" routerLink="/trips">CHECK OUR OFFERS ></button>
    </div>

    <div class="info-card">
        <p>About us</p>
        <div class="description-map">
            <p> &nbsp;  &nbsp;  &nbsp;  &nbsp; The company was established in 1990. At the moment, we are the second tour operator in Poland on the market. For 32 years, we have been consistently showing all travel lovers the true face of Europe and the world. We honestly care about the interests of our clients and always guarantee the compliance of the offer with its implementation.<br>
                 &nbsp;  &nbsp;  &nbsp;  &nbsp; 
                People are the strongest point of our company. Pilots and residents - the best on the market - and employees of customer service offices, call centers, marketing and other departments - we all stand out not only with knowledge and experience resulting from many years of practice.
            </p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.825616531698!2d19.93643082769113!3d50.06118181812095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b0e077b0fdd%3A0xd01f6c2526b37173!2sSukiennice!5e0!3m2!1spl!2spl!4v1671437246585!5m2!1spl!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="contact-form">
        <p>Contact us</p>
        <form [formGroup]="contactForm">
            <input type="text" id="name" placeholder="Name" formControlName="name"
            [ngStyle]="name!= null && name.invalid && name.touched ? {'border':  '2px solid red'} : {'border': '0'}">

            <input type="email" id="email" placeholder="E-mail" formControlName="email"
            [ngStyle]="email!= null && email.invalid && email.touched ? {'border':  '2px solid red'} : {'border': '0'}">

            <input type="text" id="question" placeholder="Ask a question" formControlName="question"
            [ngStyle]="question!= null && question.invalid && question.touched ? {'border':  '2px solid red'} : {'border': '0'}">

            <button class="send-button" (click)="onSubmit()">SEND</button>
        </form>
    </div>
</div>
