<div class="main">


  <div class="header">
    <p class="logo">LOGO</p>
    <div class="menu">
      <a routerLink="/">HOME</a>
      <a routerLink="/trips">TRIPS</a>
      <a routerLink="/add-trip">ADD TRIP</a>
    </div>
    
    <div class="how-many-trips"
      [style.color]="howManyTrips < 10 ? 'brown': '#e57c03'"
      routerLink="/shopping-cart">
        
      <div class="currencies">
          <p (click)="changeCurrency('PLN')">PLN</p>
          <p (click)="changeCurrency('USD')">USD</p>
      </div>

      <p class="trips-in-cart">{{howManyTrips}}</p>
      <fa-icon [icon]="faShoppingCart"
          (mouseenter)="displayCart()"
          (click)="displayCartFlag ? hideCart(): displayCart()">
      </fa-icon>
    </div>
  </div>


  <app-shopping-cart *ngIf="displayCartFlag" 
        [howManyTrips]="howManyTrips"
        (deleteProduct)="updateFromCart($event)"
        (mouseenter)="displayCart()"
        (mouseleave)="hideCart()"></app-shopping-cart>

<router-outlet class="router">  
</router-outlet>
</div>