<div class="main">


  <div class="header">
    <p class="logo">LOGO</p>
    <div class="menu">
      <a routerLink="/">HOME</a>
      <a routerLink="/trips">TRIPS</a>
      <a routerLink="/add-trip">ADD TRIP</a>
      <fa-icon [icon]="faHome" class="icon" routerLink="/"></fa-icon>
      <fa-icon [icon]="faPlane" class="icon" routerLink="/trips"></fa-icon>
      <fa-icon [icon]="faPlus" class="icon" routerLink="/add-trip"></fa-icon>
    </div>
    
    <div class="how-many-trips"
      [style.color]="howManyTrips < 10 ? 'brown': '#e57c03'"
      >
        
      <div class="currencies">
        <div class="icon-container">
          <fa-icon [icon]="faBell" class="notification-icon" routerLink="/shopping-cart"></fa-icon>
          <div *ngIf="notification == true" class="notification-dot"></div>
        </div>  

          <fa-icon class="icon" [icon]="faPerson"></fa-icon>
          <p (click)="changeCurrency('PLN')">PLN</p>
          <p (click)="changeCurrency('USD')">USD</p>
          <p (click)="changeCurrency('£')">£</p>
      </div>

      <p class="trips-in-cart">{{howManyTrips}}</p>
      <fa-icon [icon]="faShoppingCart"
          (mouseenter)="displayCart()"
          (click)="displayCartFlag ? hideCart(): displayCart()"
          routerLink="/shopping-cart">
      </fa-icon>
    </div>
  </div>


  <app-shopping-cart *ngIf="displayCartFlag" 
        [howManyTrips]="howManyTrips"
        [currentCurrency]="currentCurrency"
        [currencyConvert]="currencyConvert"
        (deleteProduct)="updateFromCart($event)"
        (mouseenter)="displayCart()"
        (mouseleave)="hideCart()"></app-shopping-cart>

<router-outlet class="router">  
</router-outlet>
</div>