.main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.how-many-trips {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 5px 3px rgb(238, 238, 238);
    height: 50px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    background-color: white;

    z-index: 2;
}

.currencies {
    color: black !important;
    display: flex;
    flex-direction: row;
}

.currencies > p {
    margin-right: 10px;
    cursor: pointer;
}

.trips-in-cart {
    width: 40px;
}

.sidebar {
    position: fixed;
    padding: 100px 10px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 5px 3px rgb(238, 238, 238);
}