body {
    background-image: url("images/board-bg.jpg");
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: none;
    overflow: hidden;
}

.top-content {
    height: 40vh;
}

.new-game-button {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.29);
    font-size: 30px;
    border: 5px solid white;
    border-radius: 55px;
    width: 300px;
    height: 100px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.new-game-button:hover {
    color: white;
    background-color: rgba(58, 50, 50, 0.283);
}

#score {
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 7px;
    position: fixed;
    top: 15px;
    /* left: 80vw; */
    right: 30px;
    margin: 0;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#lives {
    position: absolute;
    right: 20px;
    top: 150px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#lives > i {
    color: white;
    font-size: 40px;
}

.game-content {
    height: 60vh;
}

.zombie{
    width: 200px;
    height: 312px;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
}

.zombie > img {
    position: absolute;
    object-fit: cover;
}

#cursor {
    position: absolute;
    z-index: 1;
    pointer-events: none
}

.circle {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.699);
    border-radius: 40px;
    position: relative;
}

.dot {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    left: 25px;
}
