<div class="mobile-menu" *ngIf="mobileMenuOpened">
  <p class="exit-mobile-menu-icon" (click)="closeMenu()">X</p>
  <a routerLink="/" (click)="closeMenu()">HOME</a>
  <a routerLink="/trips" (click)="closeMenu()">TRIPS</a>
  <a routerLink="/admin"  *ngIf="user.type == 'admin'" (click)="closeMenu()">ADMIN</a>
  <a routerLink="/trip-manage"  *ngIf="user.type == 'manager'" (click)="closeMenu()">MANAGE</a>
  <div class="currencies">
      <p (click)="changeCurrency('PLN')">PLN</p>
      <p (click)="changeCurrency('USD')">USD</p>
      <p (click)="changeCurrency('£')">£</p>
  </div>
</div>

<div class="main">

  <div class="header">
    <p class="logo">LOGO</p>
    <div class="menu">
      <a routerLink="/">HOME</a>
      <a routerLink="/trips">TRIPS</a>
      <a routerLink="/admin"  *ngIf="user.type == 'admin'">ADMIN</a>
      <a routerLink="/trip-manage"  *ngIf="user.type == 'manager'">MANAGE</a>
    </div>


    <img src="assets/images/hamburger-menu.png" class="hamburger-menu-icon" (click)="openMenu()">
    
    <div class="how-many-trips"
      [style.color]="howManyTrips < 10 ? 'brown': '#e57c03'"
      >
      
      <div class="profile-info">
        <p routerLink="/login" routerLinkActive="active" *ngIf="user.type != 'guest'" (click)="logOut()">LOG OUT</p>
        <p routerLink="/login" routerLinkActive="active" *ngIf="user.type == 'guest'">LOG IN</p>
      </div>
      
      <div class="currencies">
        <!-- <fa-icon class="icon" [icon]="faPerson"></fa-icon> -->
        <p class="username" *ngIf="user.type != 'guest'">{{user.name}}</p>

        <div class="icon-container">
          <fa-icon [icon]="faBell" class="notification-icon" routerLink="/shopping-cart"></fa-icon>
          <div *ngIf="notification == true" class="notification-dot"></div>
        </div>  

          <p (click)="changeCurrency('PLN')">PLN</p>
          <p (click)="changeCurrency('USD')">USD</p>
          <p (click)="changeCurrency('£')">£</p>
      </div>

      <p class="trips-in-cart">{{howManyTrips}}</p>
      <fa-icon [icon]="faShoppingCart"
          (mouseenter)="displayCart()"
          (click)="displayCartFlag ? hideCart(): displayCart()"
          routerLink="/shopping-cart">
      </fa-icon>
    </div>
  </div>


  <app-shopping-cart *ngIf="displayCartFlag" 
        [howManyTrips]="howManyTrips"
        [currentCurrency]="currentCurrency"
        [currencyConvert]="currencyConvert"
        (deleteProduct)="updateFromCart($event)"
        (mouseenter)="displayCart()"
        (mouseleave)="hideCart()"></app-shopping-cart>

  <router-outlet class="router">  
  </router-outlet>
</div>