.main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

a {
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 22px;
}

.header {
    background-color: white;
    z-index: 4;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;

    flex: 3;
}

.menu > a {
    color: black;
}

.menu > a:hover {
    text-decoration: underline;
}

.menu > .icon {
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    animation: dropdown-menu 1.5s ease-in-out;
}

.mobile-menu > a {
    color: black;
    font-size: 20px;
}

.mobile-menu > a:hover {
    text-decoration: underline;
}

.mobile-menu > .currencies {
    gap: 15px;
}

.mobile-menu > .currencies > p {
    font-size: 20px;
}

.hamburger-menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 70px;
    opacity: 0;
}

.exit-mobile-menu-icon {
    color: gray;
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 20px;

    animation: icon-showup 1s ease-in;
}

.how-many-trips {
    flex: 1;
    text-align: center;
    font-size: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.profile-info {
    font-size: 15px;
    width: 90px;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 0;
}

.username {
    font-size: 12px;
    width: max-content;
    /* width: fit-content; */
    margin-left: 0;
}

.username:hover {
    color: black !important;
}

.how-many-trips > div > p:hover {
    color: gray;
}

.currencies {
    color: black !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.currencies > p {
    margin-top: 15px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 15px;
}

.currencies > fa-icon,
.notification-icon {
    color: rgb(101, 101, 101);
    cursor: pointer;
}

.trips-in-cart {
    margin-top: 15px;
    margin-right: -5px;
    width: 40px;
}

.icon-container {
    position: relative;
    margin-left: 10px;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;

    z-index: 5;
}

@media screen and (max-width: 1150px) {
    .main {
        margin-top: 150px;
    }
}


@media screen and (max-width: 650px) {
    .hamburger-menu-icon {
        opacity: 100%;
    }

    .logo {
        font-size: 19px;
        left: 5px;
    }

    .menu,
    .how-many-trips > .currencies{
        display: none;
    }

    .how-many-trips > .trips-in-cart {
        margin-left: -10px;
    }
}

@keyframes dropdown-menu {
    from { bottom: 92vh; }
    to { bottom: 0; }
}

@keyframes icon-showup {
    from {opacity: 0;
        font-size: 5px;}
    to {opacity: 100%;
        font-size: 25px;}
}