body{
    background-color: rgb(239, 231, 82);
    display: flex;
    justify-content: center;
}

.menu{
    width: 300px;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    list-style: none;

    border-radius: 15px;
}

.item-list{
    overflow: hidden;
}

a {
    text-decoration: none;
}

.item-list:target .list-container{
    max-height: 30vh;
}

.inner-list:before{
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgb(220, 81, 197);
    position: absolute;
   
    z-index: 2;
    right: 10%;
    bottom: -17%;
}

.inner-list{
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    background-color: rgb(220, 81, 197);
    color: white;
}


.list-container{
    background: rgb(63, 83, 177);
    overflow: hidden;
    max-height:0px;
    transition: 300ms ease all;
}

.list-container > a:before{
    content: '  ';
    opacity: 1;
}

.list-container > a{
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 20px 25px;
    
    color: rgb(255, 255, 255);
    font-size: 15px;   
}

.list-container > a:hover{
    background: rgb(63, 83, 177);
    background: -webkit-linear-gradient(top, rgb(63, 83, 177) 0%, rgb(63, 83, 177) 50%, rgb(97, 133, 232) 50%, rgb(97, 133, 232) 100%); 
    transition: all 0.3s;
}

.list-container > a:hover:before{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    width: 5px;

    border-top: 30px solid transparent;
    border-left: 8px solid rgb(239, 231, 82);
    border-bottom: 30px solid transparent;
}

.list-container > a:hover:after{
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
}