.body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 2700px;
}

.main, 
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.main {
    background-color: black;
    z-index: 1;
    opacity: 40%;
    animation: darken-background 1.5s linear;
}

.main-info,
.info-card,
.contact-form {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 70vw;
    color: white;
    z-index: 2;
}

.main-info > p{
    font-size: calc(20px + 4.5vw);
    letter-spacing: 6px;
    line-height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    animation: appear-left 1.5s linear;
}

.trips {
    width: calc(270px + 4vw);
    height: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(229, 124, 3);
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    animation: appear-left 1.5s linear;
}

.trips:hover {
    letter-spacing: 3px;
    color: black;
}

.info-card {
    top: 130vh;
}

.info-card > p {
    font-size: calc(20px + 4.5vw);
    letter-spacing: 6px;
    line-height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.description-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-map > p {
    color: white;
    font-weight: 600;
    line-height: 25px;
    width: 32vw;
    text-align: justify;
}

.map {
    width: 30vw;
    background-color: gray;
}

.contact-form {
    top: 260vh;
}

.contact-form > p{
    font-size: calc(20px + 4.5vw);
    letter-spacing: 6px;
    line-height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form > form {
    display: flex;
    flex-direction: column;
    height: 450px;
}

form > input {
    margin-bottom: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgba(64, 64, 64, 0.304);
    height: 40px;
}

#question {
    height: 150px;
}

.send-button {
    width: 200px;
    height: 50px;
    background-color: rgb(229, 124, 3);
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.send-button:hover {
    background-color: white;
    color: rgb(229, 124, 3);
}

@keyframes darken-background {
    from { opacity: 0%;}
    to { opacity: 40%;}
}

@keyframes appear-left {
    from {opacity: 0%;
        margin-left: -100px;}
    to {opacity: 100%;
        margin-left: 0;}
}

@media screen and (max-width: 650px) {
    .description-map {
        flex-direction: column;
    }

    .map,
    .description-map > p {
        width: 70vw;
    }

    .map {
        height: 70vw;
    }

}