.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 249, 249);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;


    box-shadow: 1px 0px 5px 1px rgb(227, 227, 227, 0.5);
    width: 200px;

    transition: width 0.2s ease-in-out;
}

div > i {
    color: rgb(2, 93, 134);
    font-size: 22px;
}

.sidebar > div {
    display: flex;
    flex-direction: row;
    height: 50px;

    align-items: center;
    padding-right: auto;
    padding-left: 20px;
    margin-top: 20px;
    margin-right: 15px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.sidebar > div:hover {
    background-color: rgb(45, 145, 145);
}

.sidebar > div:hover i {
    color: white;
    transition-duration: 0.5s;
}

.sidebar > div:hover .notifications-info {
    display: none;
}

.sidebar > div > p {
    margin-left: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(2, 93, 134);
}

.notifications-info {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: 11px;
    color: rgb(45, 145, 145);
    border: 1px rgb(45, 145, 145) solid;
    border-radius: 18px;
}

@media screen and (max-width: 650px) {
    .sidebar > div > p {
        display: none;
    }

    .notifications-info {
        margin-left: 5px;
    
    }

    .sidebar > div:hover .notifications-info {
        display: none;
    }

    .sidebar {
        width: 65px;
        transition: width 0.5s ease-in-out;
    }

    .sidebar > div {
        margin-right: 10px;
    }
}