<form class="form" [formGroup]="postForms">
    <div>
        <label for="title">Title: </label>
        <input type="text" formControlName="title">
    </div>

    <div>
        <label for="content">Content: </label>
        <input type="text" formControlName="content">
    </div>
    <button class="send-button" (click)="sendPost()">Send post</button>
</form>

<div class="posts-container">
    <div *ngIf="postsArr!=undefined" >
        <div class="post-card" *ngFor="let post of postsArr">

            <div class="post-header">
                <p class="title">{{ post.title }}</p>
                <p class="username">User: {{ post.userId }}</p>
            </div>
            
            <p class="content">{{ post.body }}</p>
            <p class="post-id"> Post no.: {{ post.id }}</p>

        </div>
    </div>
</div>