.main {
     display: flex;
     flex-direction: column;
     font-family: Arial, Helvetica, sans-serif;
}

.output {
    width: 48vw;
    margin: auto;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 3px rgb(234, 234, 234);
}

h3 {
    text-align: center;
    text-transform: uppercase;
}